.env
evaluation/data/eval_qa.json
train_logs

all_data/huatuo26m*
all_data/huatuogpt2*
all_data/huatuo_trained.json
all_data/huatuo_trained_Qwen3-8B_4096_dataset.zip
all_data/train_qa_1p_cn_paper.json